@{
    ViewData["Title"] = "List Items";
}
<div class="text-center">
    <h1 style="font-size: 4vw;">@ViewData["Title"]</h1>
</div>

<form method="post" action="@Url.Action("ListItems", "Home")">
    @Html.DropDownList("filters", new SelectList(new List<string> { "Price: High to Low", "Price: Low to High"}), "Order By")
    <input type="submit" value="Submit" />
</form>

<div class="wrapper">
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Item Name</th>
                    <th scope="col">Company Name</th>
                    <th scope="col">Item Category Name</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            @foreach (var item in ViewBag.model)
            {
                <tbody>
                    <tr>
                        <td>@item.ItemName</td>
                        <td>@item.Company.CompanyName</td>
                        <td>@item.ItemCategory.ItemCategoryName</td>
                        <td>@item.SellPrice</td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
</div>

