@model inveroryManagerApp.Models.BuyItemModel
@{
    ViewData["Title"] = "Buy an Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .form-group {
        margin: 5px;
    }
</style>

<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
<link href="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css"
      rel="stylesheet" type="text/css" />
<script src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"></script>
<link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css"
      rel="stylesheet" type="text/css" />
<script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>

<script type="text/javascript">
    $(function () {
        $('#myItems').multiselect({
            includeSelectAllOption: true
        });
    });
</script>

<div class="text-center">
    <h1 style="font-size: 4vw;">@ViewData["Title"]</h1>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group row">
            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Customer Name</label>
            <div class="col-sm-10">
                @Html.DropDownList("listCustomer", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.listCustomer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Staff Name</label>
            <div class="col-sm-10">
                @Html.DropDownList("listStaff", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.listStaff, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Item Name</label>
            <div class="col-sm-10">
                <div>
                    <select id="myItems" multiple="multiple" required name="SelectedItems" class="form-control">
                        @if (ViewBag.listItem != null)
                        {
                            foreach (var item in ViewBag.listItem)
                            {
                                if (item.Text != null)
                                {
                                    <option value="@item.Value">
                                        @item.Text
                                    </option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

    </div>
}
