@{
    ViewData["Title"] = "Order Status";
}
<div class="text-center">
    <h1 style="font-size: 4vw;">@ViewData["Title"]</h1>
</div>

<div class="wrapper">
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Order ID</th>
                    <th scope="col">Item ID</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Discount</th>
                    <th scope="col">Price Paid</th>
                </tr>
            </thead>
                <tbody>
                    <tr>
                        <td>@ViewBag.model.OrderId</td>
                        <td>@ViewBag.model.Item.ItemId</td>
                        <td>@ViewBag.model.Item.ItemName</td>
                        <td>@ViewBag.model.Quantity</td>
                        <td>@ViewBag.model.Discount</td>
                        <td>@ViewBag.model.PricePaid</td>
                    </tr>
                </tbody>
        </table>
    </div>
</div>

