@{
    ViewData["Title"] = "List Items";
}
<div class="text-center">
    <h1 style="font-size: 4vw;">@ViewData["Title"]</h1>
</div>

<div class="wrapper">
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Item Name</th>
                    <th scope="col">Company Name</th>
                    <th scope="col">Item Category Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            @foreach (var item in ViewBag.model)
            {
                <tbody>
                    <tr>
                        <td>@item.ItemName</td>
                        <td>@item.Company.CompanyName</td>
                        <td>@item.ItemCategory.ItemCategoryName</td>
                        <td>@item.SellPrice</td>
                        <td>
                            @Html.ActionLink("View", "ViewItem", new { itemid = @item.ItemId })
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
</div>

